# Ignorer l'environnement virtuel
env/

# Fichiers de base de données
db.sqlite3
.sqlite3

# Fichiers de log
*.log

# Fichiers temporaires
*.tmp
__pycache__

# Fichiers de configuration
.env
local_settings.py

# Fichiers de test
tests/

# Fichiers de documentation
docs/

# Fichiers générés
static/
media/

# Divers
*.pyc
*.swp

# Fichiers spécifiques à l'application "api"
api/migrations/
api/static/
api/media/
api/local_settings.py